In [3]:
using Pkg
Pkg.add("StatsBase")
Pkg.add("ClassImbalance")
Pkg.add("ROCAnalysis")
using Pkg
using CSV
using DataFrames
using Plots
using Lathe
using GLM
using StatsBase
using MLBase
using ClassImbalance
using ROCAnalysis
#enable printing of 1000 columns
ENV["COLUMNS"]=1000

   Resolving package versions...
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\neeta\.julia\environments\v1.6\Manifest.toml`

1000

In [4]:
df = DataFrame(CSV.File("Churn_Modelling.csv"))
first(df,5)

5×14 typename(DataFrame)
│ Row │ RowNumber │ CustomerId │ Surname  │ CreditScore │ Geography │ Gender │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │
│     │ Int64     │ Int64      │ String   │ Int64       │ String    │ String │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │
├─────┼───────────┼────────────┼──────────┼─────────────┼───────────┼────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┤
│ 1   │ 1         │ 15634602   │ Hargrave │ 619         │ France    │ Female │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │
│ 2   │ 2         │ 15647311   │ Hill     │ 608         │ Spain     │ Female │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │
│ 3   │ 3         │ 15619304   │ Onio     │ 502         │ France    │ Female │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │
│ 4   │ 4         │ 15701354   │ Boni     │ 699         │ France    │ Female │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │
│ 5   │ 5         │ 15737888   │ Mitchell │ 850         │ Spain     │ Female │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │

In [5]:
println(size(df))
names(df)

(10000, 14)

14-element Vector{Symbol}:
 :RowNumber
 :CustomerId
 :Surname
 :CreditScore
 :Geography
 :Gender
 :Age
 :Tenure
 :Balance
 :NumOfProducts
 :HasCrCard
 :IsActiveMember
 :EstimatedSalary
 :Exited

In [6]:
describe(df)

14×8 typename(DataFrame)
│ Row │ variable        │ mean      │ min      │ median    │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol          │ Union…    │ Any      │ Union…    │ Any       │ Union…  │ Nothing  │ DataType │
├─────┼─────────────────┼───────────┼──────────┼───────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ RowNumber       │ 5000.5    │ 1        │ 5000.5    │ 10000     │         │          │ Int64    │
│ 2   │ CustomerId      │ 1.56909e7 │ 15565701 │ 1.56907e7 │ 15815690  │         │          │ Int64    │
│ 3   │ Surname         │           │ Abazu    │           │ Zuyeva    │ 2932    │          │ String   │
│ 4   │ CreditScore     │ 650.529   │ 350      │ 652.0     │ 850       │         │          │ Int64    │
│ 5   │ Geography       │           │ France   │           │ Spain     │ 3       │          │ String   │
│ 6   │ Gender          │           │ Female   │           │ Male      │ 2       │          │ String   │
│ 7   │ Age             │ 38.9218   │ 18       │ 37.0      │ 92        │         │          │ Int64    │
│ 8   │ Tenure          │ 5.0128    │ 0        │ 5.0       │ 10        │         │          │ Int64    │
│ 9   │ Balance         │ 76485.9   │ 0.0      │ 97198.5   │ 2.50898e5 │         │          │ Float64  │
│ 10  │ NumOfProducts   │ 1.5302    │ 1        │ 1.0       │ 4         │         │          │ Int64    │
│ 11  │ HasCrCard       │ 0.7055    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 12  │ IsActiveMember  │ 0.5151    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 13  │ EstimatedSalary │ 1.0009e5  │ 11.58    │ 1.00194e5 │ 1.99992e5 │         │          │ Float64  │
│ 14  │ Exited          │ 0.2037    │ 0        │ 0.0       │ 1         │         │          │ Int64    │

In [7]:
#count classes
countmap(df.Exited)

Dict{Int64, Int64} with 2 entries:
  0 => 7963
  1 => 2037

In [8]:
Lathe.preprocess.OneHotEncode(df, :Geography)
Lathe.preprocess.OneHotEncode(df, :Gender)
select!(df, Not([:RowNumber, :CustomerId, :Surname, :Geography, :Gender, :Male]))
first(df,5)

5×13 typename(DataFrame)
│ Row │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│     │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├─────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1   │ 619         │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2   │ 608         │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3   │ 502         │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 4   │ 699         │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 5   │ 850         │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │

In [10]:
#train test split
using Lathe.preprocess: TrainTestSplit
train, test= TrainTestSplit(df,.75)

(7441×13 typename(DataFrame)
│ Row  │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 608         │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 2    │ 502         │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 3    │ 699         │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 4    │ 645         │ 44    │ 8      │ 1.13756e5 │ 2             │ 1         │ 0              │ 1.49757e5       │ 1      │ 0      │ 1     │ 0       │ 0      │
│ 5    │ 822         │ 50    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 10062.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 6    │ 376         │ 29    │ 4      │ 1.15047e5 │ 4             │ 1         │ 0              │ 1.19347e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 7    │ 501         │ 44    │ 4      │ 1.42051e5 │ 2             │ 0         │ 1              │ 74940.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 8    │ 684         │ 27    │ 2      │ 1.34604e5 │ 1             │ 1         │ 1              │ 71725.7         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 9    │ 476         │ 34    │ 10     │ 0.0       │ 2             │ 1         │ 0              │ 26261.0         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 10   │ 549         │ 25    │ 5      │ 0.0       │ 2             │ 0         │ 0              │ 1.90858e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
⋮
│ 7431 │ 673         │ 47    │ 1      │ 1.8358e5  │ 2             │ 0         │ 1              │ 34047.5         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 7432 │ 775         │ 30    │ 4      │ 0.0       │ 2             │ 1         │ 0              │ 49337.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7433 │ 841         │ 28    │ 4      │ 0.0       │ 2             │ 1         │ 1              │ 1.79437e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7434 │ 714         │ 33    │ 3      │ 35016.6   │ 1             │ 1         │ 0              │ 53667.1         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 7435 │ 597         │ 53    │ 4      │ 88381.2   │ 1             │ 1         │ 0              │ 69384.7         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7436 │ 726         │ 36    │ 2      │ 0.0       │ 1             │ 1         │ 0              │ 1.95192e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7437 │ 644         │ 28    │ 7      │ 1.5506e5  │ 1             │ 1         │ 0              │ 29179.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7438 │ 771         │ 39    │ 5      │ 0.0       │ 2             │ 1         │ 0              │ 96270.6         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7439 │ 516         │ 35    │ 10     │ 57369.6   │ 1             │ 1         │ 1              │ 1.017e5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7440 │ 709         │ 36    │ 7      │ 0.0       │ 1             │ 0         │ 1              │ 42085.6         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7441 │ 792         │ 28    │ 4      │ 1.30143e5 │ 1             │ 1         │ 0              │ 38190.8         │ 0      │ 1      │ 0     │ 0       │ 1      │, 2559×13 typename(DataFrame)
│ Row  │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 619         │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2    │ 850         │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3    │ 528         │ 31    │ 6      │ 1.02017e5 │ 2             │ 0         │ 0              │ 80181.1         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 4    │ 497         │ 24    │ 3      │ 0.0       │ 2             │ 1         │ 0              │ 76390.0         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 5    │ 635         │ 35    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 65951.6         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 6    │ 653         │ 58    │ 1      │ 1.32603e5 │ 1             │ 1         │ 0              │ 5097.67         │ 1      │ 0      │ 0     │ 1       │ 0      │
│ 7    │ 549         │ 24    │ 9      │ 0.0       │ 2             │ 1         │ 1              │ 14406.4         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 8    │ 587         │ 45    │ 6      │ 0.0       │ 1             │ 0         │ 0              │ 1.58685e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 9    │ 577         │ 25    │ 3      │ 0.0       │ 2             │ 0         │ 1              │ 1.24508e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 10   │ 553         │ 41    │ 9      │ 1.10113e5 │ 2             │ 0         │ 0              │ 81898.8         │ 0      │ 0      │ 0     │ 1       │ 0      │
⋮
│ 2549 │ 784         │ 23    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 6847.73         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2550 │ 645         │ 44    │ 10     │ 0.0       │ 2             │ 0         │ 1              │ 1.66707e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2551 │ 724         │ 53    │ 1      │ 1.39688e5 │ 2             │ 1         │ 1              │ 12913.9         │ 0      │ 0      │ 0     │ 1       │ 1      │
│ 2552 │ 520         │ 46    │ 10     │ 85216.6   │ 1             │ 1         │ 0              │ 1.1737e5        │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2553 │ 702         │ 44    │ 9      │ 0.0       │ 1             │ 0         │ 0              │ 59207.4         │ 1      │ 0      │ 1     │ 0       │ 0      │
│ 2554 │ 623         │ 48    │ 5      │ 1.18469e5 │ 1             │ 1         │ 1              │ 1.5859e5        │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2555 │ 518         │ 42    │ 7      │ 151027.0  │ 2             │ 1         │ 0              │ 1.19377e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2556 │ 833         │ 34    │ 3      │ 1.44752e5 │ 1             │ 0         │ 0              │ 1.66473e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 2557 │ 606         │ 30    │ 8      │ 1.80308e5 │ 2             │ 1         │ 1              │ 1914.41         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2558 │ 800         │ 29    │ 2      │ 0.0       │ 2             │ 0         │ 0              │ 1.67774e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 2559 │ 772         │ 42    │ 3      │ 75075.3   │ 2             │ 1         │ 0              │ 92888.5         │ 1      │ 0      │ 0     │ 1       │ 0      │)

In [11]:
#model building
fm = @formula(Exited~CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + Female + France + Spain)
logit = glm(fm, train, Binomial(), ProbitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.Cholesky{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Exited ~ 1 + CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + Female + France + Spain

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                        Coef.   Std. Error       z  Pr(>|z|)     Lower 95%    Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)      -1.86098      0.168045     -11.07    <1e-27  -2.19034      -1.53162
CreditScore      -0.000424411  0.000185683   -2.29    0.0223  -0.000788343  -6.04779e-5
Age               0.0425802    0.00167805    25.37    <1e-99   0.0392913     0.0458691
Tenure           -0.00789395   0.00614203    -1.29    0.1987  -0.0199321     0.00414421
Balance           1.73132e-6   3.34735e-7     5.17    <1e-06   1.07525e-6    2.38739e-6
NumOfProducts    -0.0401116    0.0314224     -1.28    0.2018  -0.101698      0.0214752
HasCrCard        -0.0424824    0.0390928     -1.09    0.2772  -0.119103      0.0341381
IsActiveMember   -0.618612     0.0370806    -16.68    <1e-61  -0.691289     -0.545936
EstimatedSalary   1.01587e-7   3.12484e-7     0.33    0.7451  -5.10871e-7    7.14045e-7
Female            0.30008      0.0358039      8.38    <1e-16   0.229905      0.370254
France           -0.426514     0.0450291     -9.47    <1e-20  -0.514769     -0.338258
Spain            -0.426753     0.0522028     -8.17    <1e-15  -0.529068     -0.324437
───────────────────────────────────────────────────────────────────────────────────────

In [13]:
#predict target variable on test data
prediction = predict(logit,test)

2559-element Vector{Union{Missing, Float64}}:
 0.12131155951559597
 0.15645961973131664
 0.1283101213669011
 0.05311542430302899
 0.05976803356014157
 0.6812290096580547
 0.022235125069479514
 0.24443438159657868
 0.014712554619853577
 0.3812494233346566
 0.45215651340394086
 0.5454222225851679
 0.47463950756457374
 ⋮
 0.2347964256557881
 0.009201058491676694
 0.0737315545364097
 0.4532399078773766
 0.4007166364197354
 0.20688303871010927
 0.15209021179876886
 0.2665334717237884
 0.24525661399944282
 0.039235660078695826
 0.12078219559145847
 0.3419196727237439